﻿
@model IEnumerable<PruebaNetFrontEnd.Models.Empleado>

<form>
    <div class="container row">

        @foreach (var Emp in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-0 my-3 border rounded">
                    <div class="card">
                        <h3 class="card-title text-black-50 text-center py-2">Nombre: @Emp.Nombre</h3>
                        <div class="card-body">
                            <div class="d-flex py-2">
                                <span class="" style="font-size:20px;">Apellido Paterno: @Emp.Apellido_Paterno</span>
                            </div>
                            <div class="d-flex py-2">
                                <span class="" style="font-size:20px;">Apellido Materno: @Emp.Apellido_Materno</span>
                            </div>
                            <div class="d-flex py-2">
                                <span class="" style="font-size:20px;">Area: @Emp.Area.NombreArea</span>
                            </div>
                            <div class="d-flex py-2">
                                <span class="" style="font-size:20px;">Sueldo: $ @Emp.Sueldo</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</form>
